 * { 
    box-sizing: border-box;
 } 
#wrapper { 
    width: 1000px; 
    margin: 30px auto; 
    border: 1px solid black; } 
#header { 
    height: 200px; 
    padding: 20px; 
    border: 1px solid black; 
} 
#container { 
    display: flex; 
} 
#content { 
    width: 1000px; 
    height: 700px; 
    padding: 20px; 
    border: 1px solid black; 
} 

#footer { 
    height: 200px; 
    padding: 20px; 
    border: 1px solid black; 
}

#menu { 
    display: flex;
} 

#menu a {
    margin-right: 5px;
    padding: 10px;
    font: 15px Arial; 
    text-decoration: none; 
    color: #000000; 
    border: 1px solid #1437AD; 
    background-color: rgb(164, 189, 236); 
} 

#menu a:hover, #menu a.active { 
    color: rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0); 
    background-color: rgb(164, 189, 236); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left; 
}

table th {
    background-color: #f2f2f2;
    color: #333;
}