<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Подробная информация{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
</head>
<body>

        <div id="wrapper">
            <div id="header">
             <a href="/">На главную</a>
             <div id="menu">
                <a href="/">Главная</a>
                <a href="/breeds">Породы</a>
                <a href="/photos">Фото</a>
                <a href="/about">О нас</a>
                <a href="/addbreedform">Добавить породу</a>
                <a href="/adddogform">Добавить собаку</a>
             </div>
        </div>
        <div id="container">
            <div id="sidebar">
                
                {% for p in por %}
				<ol>
					<a href="/breed/{{p.id}}">{{ p.title }}</a>
				</ol>
                
            {% endfor %}
            </div>
            <div id="content">
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        <div id="footer">
            footer
        </div>
    </div>
    
</body>
</html>