{% extends "base.html" %}
{% block title %}Редактирование собаки{% endblock title %}
{% block content %}
    <h1>Форма для изменения собаки</h1>
    <form action="/editdog/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ id }}">
        <input type="text" name="name" placeholder="Кличка" value="{{old.name}}"><br>
        <input type="number" name="age" placeholder="Возраст" value="{{old.age}}"><br>
        <input type="text" name="weight" placeholder="Вес" value="{{old.weight}}"><br>
        <textarea name="desc" placeholder="Описание">{{old.description}}</textarea><br>
        <select name="breed">
            {% for b in breeds %}
                <option value="{{ b.id }}" {% if b.id == old.breed.id %} selected {% endif %}>{{ b.title }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="file" name="image" accept="image/*"><br>
        <input type="submit" value="Сохранить">
    </form>
    <a href="/deletedog/{{id}}">удалить собаку</a>
{% endblock content %}