<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}" />
    <title>Document</title>
</head>
<body>
    <div id="menu">
        <a href="/" >Главная</a>
        <a href="about">О нас</a>
        <a href="Contacts"class="active">Контакты</a>
        <a href="Photo">Фотографии</a>
        <a href="Blog">Блог</a>
    </div>
    <h1 id="gl">Контакты</h1>
    <h2 id="dva">8-800-555-35-35</h2>
    
</body>
</html>