<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}" />
    <title>Document</title>
</head>
<body>
    <div id="menu">
        <a href="/">Главная</a>
        <a href="about">О нас</a>
        <a href="Contacts">Контакты</a>
        <a href="Photo" class="active">Фотографии</a>
        <a href="Blog">Блог</a>
    </div>
    <h1 id="gl">Фото</h1>
    
</body>
</html>